.page{
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: Inter, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.header{
    padding: 30px 80px 40px;
    background-color: #fff;
    background-image: url(../images/background_header.svg);
    height: 800px;
    position: relative;
    display: column;
    background-repeat: no-repeat;
    background-size: cover;
    display:block;
}


.header__title{
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;  
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.6px;
    margin: 183px 0 0;
    max-width: 729px;
}

.header__span-accent{
    display: block;
    font-family: "Noto Serif", "Times New Roman", serif;
    font-style: italic;
    font-weight: normal;
    font-size: 60px;  
    line-height: 72px;
    color: #3F96F3;
}

.header__description{
    font-family: "Noto Serif","Times New Roman", serif;
    font-style: normal;
    font-weight: 400px;
    font-size: 20px;
    line-height: 30px;
    margin: 28px 0 0;
    max-width: 683px;
}

.header__paragraph{
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #6f6f6f;
    margin: 0;
}

.header__image{
    position: absolute;
    top: 124px;
    right: 5px;
    width: 646px;
    height: 568px;
    object-fit: cover;
}

.header__footer{
    margin-top: auto;
    display: flex-box;
    position: relative;
    align-items: flex-end;
    height: 40vh;
    justify-content: space-between;
    flex-direction: row;
    
}

.header__footer-right{
    bottom: 40px;
    left: 80px;
    position: absolute;
}

.header__footer-right{
    bottom: 40px;
    right: 80px;
    position:absolute
}

.nav{
    display:flex;
    justify-content: space-between;
}

.nav__logo{
   width: 105px;
   height: 39px;
   position: relative;
   left: 3px;
   top: -10px;
}
  
.nav__links{
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0%;
    margin: 0%;
}

.nav__link{
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #000;
    top: 30px;
    right:80px;
}